.title-bold-text{
    font-size: 45px;
    font-weight: bolder;
    color: #000000;
}



@media screen and (max-width:600px) {
    .title-bold-text{
        font-size: 35px;
    }
    .explore-btn{
        display: none;
        margin-left: 20px;
       
    }
   
}
