.banner-img{
   object-fit: cover;
}
.banner-div{
    position: absolute;
    bottom: 620%;
    left: 30%;
}
.banner-div3{
    position: absolute;
    bottom: 110px;
    right: 65%;
}

.slider-title{
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 2px;
}

.banner-btn{
    padding: 5px 22px;
    background:transparent;
    border: 2px 2px solid black;
    transition: all .4s;
}
.banner-btn:hover{
   background-color: #F84C4C;
   border: 2px solid #F84C4C;
   color: white;
}
@media screen and (max-width:700px) {
    .banner-img{
        height: 400px;
    }
    .banner-div{
        left: 0px;
        bottom: 150px;
    }
    .banner-div3{
        position: absolute;
        bottom: 50px;
        right: 70px;
    }
    .slider-title{
        font-size: 40px;
    }
}